.order-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 100px;
}

.order-form div {
  margin-bottom: 10px;
  margin-right: 20px;
}

.order-btn {
  background-color: #ffd43b;
  color: black;
  width: 150px;
}

.order-btn:hover {
  background: black !important;
  color: #ffd43b;
}
