.App {
  text-align: center;
}

.view-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.products-wrapper {
  margin-bottom: 50px;
}

.footer-view {
  position: absolute;
  top: 0;
}

.card {
  width: 200px !important;
  height: 350px !important;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

.card-img-top {
  width: 100px;
  height: 100px;
}

.card-title {
  height: 50px;
}

.card-body {
  position: relative;
}

.card-text {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.card-btn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  background: #ffd43b !important;
  border: none;
  color: black;
  z-index: 2;
}

.card-btn:hover {
  background: black !important;
  color: #ffd43b;
}

.btn-color {
  background: #ffd43b !important;
  border: none;
  color: black;
}

.btn-color:hover {
  background: black !important;
  color: #ffd43b;
}

@media screen and (max-width: 767px) {
  .view-wrapper {
    padding: 0 20px;
  }
}
